@import 'tailwindcss';

@theme {
  --color-primary: #1d2745;
  --color-secondary: #1de5d4;
  --color-tertiary: #f52c50;
  --color-white: #ffffff;
  --color-mono-100: #f1f1f1;
  --color-mono-200: #bebebe;
  --color-mono-300: #d6d7d9;
  --color-error: #d01e1e;
  --color-social: #395997;
}

@layer utilities {
  .text-xs {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
  }

  .text-sm {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
  }

  .text-md {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
  }

  .text-lg {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01em;
    font-weight: 500;
  }

  .text-xl {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
}
